* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 16px;
}

body {
  background: blanchedalmond;
}
#title {
  font-size: 32px;
  line-height: 75px;
  background: seagreen;
  color: white;
  text-align: center;
  height: 75px;
}

h2 {
  font-size: 24px;
}

.container {
  /* margin-left: 20%;
  margin-right: 20%;
  margin-top: 20px;
  margin-bottom: 20px; */
  margin: 20px 20% 20px 20% ;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
  line-height: 32px;
}

/* "footer" on mobile */
.sidebar {
  background: rebeccapurple;
  color: white;
  padding: 20px;
  position: absolute;
  width: 15%;
  /* view height is like percentage */
  height: 100vh;
  top: 75px;
  right: 0;
}

.sidebar a, details a {
  color: white;
}

details a:hover {
  text-decoration: underline;
  font-size: 110%;
}

details {
  padding: 10px;
  background: rebeccapurple;
  color: white;
  border-radius: 5px;
  animation: slide-in 2.5s;

}
details:hover {
  background: tomato;
  cursor: pointer;
}

summary:focus {
  outline: none;
}

details[open] {
  background: rebeccapurple;
  transition: height 2s;
}

details > summary{
  list-style: none;
}

details > summary::-webkit-details-marker {
  display: none;
}

@keyframes slide-in {
  0% {
    transform: translateX(-20%);
    opacity: 0;
  }
  80% {
    transform: translateX(+1%);
    opacity: 0.95;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@media only screen and (max-width: 800px) {

  #title {
    font-size: 48px;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 28px;
  }

  li {
    font-size: 24px;
    line-height: 32px;
  }

  /* Keyframes example */
  @keyframes shrink-footer {
    0% {
      height: 130px;
    }
    30% {
      height: 600px;
    }
    100% {
      height: 130px;
    }
  }

  /* it becomes a "footer" */
  .sidebar {
    background: darkseagreen;
    top: inherit;
    height: 130px;
    right: inherit;
    width: 100%;
    position: fixed;
    bottom: 0;
    color: white;
    animation: shrink-footer 5s;
  }

  /* so the "footer" doesn't hide content */
  .container {
    margin-bottom: 130px;
  }


}


@media only screen and (max-width: 330px) {
  #title {
    background: rebeccapurple;
  }
}
