* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 16px;
}

body {
  background: blanchedalmond;
}

#title {
  font-size: 32px;
  line-height: 75px;
  background: seagreen;
  color: white;
  text-align: center;
  height: 75px;
}

h2 {
  font-size: 24px;
}

.container {
  /* margin-left: 20%;
  margin-right: 20%;
  margin-top: 20px;
  margin-bottom: 20px; */
  margin: 20px 20% 20px 20% ;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}
